/* CSS declarations go here */

#launcher {
	width: 1050px;
	height: 600px;
	background-color: black;
	margin-left: auto;
	margin-right: auto;
}

#nav {
	width: 120px;
	height: 600px;
	display: inline-block;
	background-color: #0D2D3D;
	position: relative;
	float: left;
}

#titlebar {
	height: 200px;
	width: 1050px;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
}

body {
	color: #AAA;
}

.content {
	width: 930px;
	height: 600px;
	display: inline-block;
	position: relative;
	float: right;
}

/* TITLE BAR CSS */

/* NAVIGATION CSS */
.nav-item {
	width: 98px;
	height: 98px;
	background-color: #0D2D3D;
	margin-top: 10px;
	margin-left: 10px;
	border: 1px solid #0D2D3D;
}

.nav-item:hover {
	background-color: #535C42;
	border: 1px solid #B7AF77;
}

.active-nav-item {
	background-color: #154760 !important;
	border: 1px solid #4F7C91 !important;
}

.n-rs3 {
	background-image: url('rs3-icon.png');
}

.n-osrs {
	background-image: url('osrs-icon.png');
}

.n-ds {
	background-image: url('ds-icon.png');
}

.n-chronicle {
	background-image: url('chronicle-icon.png');
}

/* RS3 CSS */
.rs3 {
	background-image: url('rs3-wallpaper.png');
	background-size: 930px 600px;
}

.osrs {
	background-image: url('osrs-wallpaper3.png');
	background-size: 930px 600px;
}

.video {
	margin-left: 40px;
	width: 400px;
	display: inline-block;
}

.c-body {
	margin-top: 25px;
}

.news {
	overflow-x: hidden;
}

.box img {
	height: 60px;
}

.c-head {
	padding-top: 40px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
}

.c-head .box {
	margin-left: 80px;
}

.c-head .box:first-child {
	margin-left: 0px;
}

.c-footer {
	margin-top: 60px;
}

.playnow {
	display: block;
	font-size: 36px;
	width: 473px;
	height: 71px;
	background-image: url('btn-default.png');
	text-decoration: inherit;
	text-transform: uppercase;
	text-align: center;
	color: black;
	line-height: 71px;
	margin-left: 110px;
}

.playnow:hover {
	background-image: url('btn-highlight.png');
}


/* OSRS CSS */
.osrs-body {
	color: white;
}

.osrs-footer {
	margin-top: 10px;
}

.osrs-play-container {
	display: inline-block;
	height: 100%;
	width: 480px;
	text-align: center;
}

.osrs-poll-container {
	display: inline-block;
	height: 100%;
	width: 400px;
}

.osrs-poll {
	display: block;
	width: 400px;
	height: 109px;
	background-image: url('osrs-poll.png');
	color: white;
	text-shadow: 5px 5px 5px black;
	line-height: 109px;
	font-size: 48px;
	position: relative;
	top: -55px;
	text-align: center;
	text-decoration: initial;
}

.osrs-poll:hover {
	text-decoration: underline;
}

.osrs-play {
	display: inline-table;
	width: 152px;
	height: 126px;
	margin-left: 40px;
	text-decoration: initial;
}

.osrs-play:first-child {
	margin-left: 0px;
}

.osrs-play p {
	display: table-cell;
	text-align: center;
	color: white;
	vertical-align: middle;
	font-size: 16px;
	text-decoration: inherit;
}
.worldchoose {
	text-decoration: initial;
	color: white;
	font-size: 16px;
}

.osrs-play:hover, .worldchoose:hover {
	text-decoration: underline;
}


.free {
	background-image: url('osrs-tile-free.png');
}

.mems {
	background-image: url('osrs-tile-mem.png');
}